#adminSidebar {
    height: 100vh; /* Full screen height */
    background-color: #2e7d32; /* Dark green */
    color: white;
    width: 255px;
    padding: 15px;
    position: fixed; /* Fix it to the side */
    top: 0;
    left: 0;
    overflow: hidden; /* Prevent inner scroll */
}

#adminSidebar h4 {
    color: #fff;
}

#adminSidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;    
}